<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ----グローバルナビゲーション----- %>
    <nav>
      <ul>
        <li><%= link_to t("common.tasks_index"), tasks_path, id: "tasks-index" %></li>
        <li><%= link_to t("common.new_task"), new_task_path, id: "new-task" %></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
